<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de votre compte admin</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f9f9f9; padding: 20px;">
<table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; border: 1px solid #ddd; border-radius: 8px;">
    <tr>
        <td style="padding: 20px;">
            <h2 style="text-align: center; color: #0053a1;">Création de votre compte admin</h2>
            <p>Bonjour,</p>
            <p>Un compte utilisateur a été créé pour vous.</p>
            <p>Afin de finaliser votre accès, merci de définir dès maintenant votre mot de passe en suivant le lien ci-dessous :</p>
            <p>
                <a style="background-color: #0053a1;color: white;padding: 10px;display: block; text-decoration: none;border-radius: 5px; text-align: center;"
                   href="{{ resetUrl }}">
                    J'initialise mon mot de passe
                </a>
            </p>
            <p>Nous vous recommandons de choisir un mot de passe unique et sécurisé</p>
            <p>Merci,</p>
            <p>L’équipe support</p>
        </td>
    </tr>
</table>
</body>
</html>
