/.php-cs-fixer.php
/.php-cs-fixer.cache
/phpunit.xml
/public/bundles/
/public/media/
/var/
/vendor/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
